[Unit]
Description=Showdown Client

[Service]
ExecStart=/home/ubuntu/CC_SHOWDOWN/pokemon-showdown-client/startup.sh
Restart=always
User=ubuntu
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ubuntu/CC_SHOWDOWN/pokemon-showdown-client/

[Install]
WantedBy=multi-user.target
